{% extends "base.html" %}


 {% block nav_class_active_index %}active{% endblock nav_class_active_index %}>
 {% include "inc_include.html" %}

 {% block title %}Main Page  {% include "inc_include.html" %}{% endblock title %}


 {% block hello %}<h1>Hello, world!</h1>
{% include "inc_include.html" %}
        <p>HI man</p>{% endblock hello %}


 {% block niz %}
{% include "inc_include.html" %}
{{ var1|upper }}   {{ var2|lower }} {{ all_instructors|default:"nothing"|title }}
      {{ var3 }}<br/>
      {{ var3|first }}<br/>
      {{ var3|last }}<br/>
      {{ var3|length }}<br/>
      {{ var3|slice:"2" }}<br/>
      {{ var3.2 }}<br/>
      {{ var2.some_str }}<br/>
      {{ var3|length_is:"3" }}<br/>
      {% if all_instructors|length <= 6 %}
      {% for i in all_instructors %}
      {% if forloop.first %} First {% elif forloop.last %} Last {% else %} {{ forloop.counter }} {% endif %}
      {% cycle "-" "+" %}

      {{ i.name|default:"Nothing" }}
      {% empty %} Инструктора уехали на рыбалку {% endfor %}<br/>
      {% else %} Никаких Инструкторов НЕТ <br/>
      {% endif %}

 {% endblock niz %}

